<form class="filter" id="filter">
    <label>
        Sorteren
        <select name="cars" id="cars">
            <option>Aanbevolen</option>
            <option>Meest populair</option>
            <option>Datum: Oud - Nieuw</option>
            <option>Datum: Nieuw - Oud</option>
        </select>
    </label>

    <label>
        Filter
        <select name="cars" id="cars">
            <option>Boeken</option>
            <option>Films</option>
            <option>Adtiviteiten</option>
            <option>CD's</option>
        </select>
    </label>
    <fieldset>
        <legend>Genres</legend>
        <section class="checkbox-section">
            <label>
                <input type="checkbox">
                Horror
            </label>
            <label>
                <input type="checkbox">
                Fantasie
            </label>
            <label>
                <input type="checkbox">
                Roman
            </label>
            <label>
                <input type="checkbox">
                Comedy
            </label>
        </section>
    </fieldset>

    <fieldset>
        <legend>Leesniveau</legend>
        <section class="checkbox-section">
            <label>
                <input type="checkbox">
                A
            </label>
            <label>
                <input type="checkbox">
                B
            </label>
            <label>
                <input type="checkbox">
                C
            </label>
            <label>
                <input type="checkbox">
                D
            </label>
        </section>
    </fieldset>

    <fieldset>
        <legend>Leeftijd</legend>
        <section class="checkbox-section">
            <label>
                <input type="checkbox">
                12 +
            </label>
            <label>
                <input type="checkbox">
                16 +
            </label>
            <label>
                <input type="checkbox">
                18 +
            </label>
        </section>
    </fieldset>

    <img class="bieb-bot" src="{{ './img/robot-with-hands.svg' | asset_url }}" alt="Bieb-bot">

</form>