<form class="filter">
    <label>
        Sorteren
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </label>

    <label>
        Filter
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </label>
    <fieldset>
        <legend>Genres</legend>
        <section class="checkbox-section">
            <label>
                <input type="checkbox">
                Horror
            </label>
            <label>
                <input type="checkbox">
                Fantasie
            </label>
            <label>
                <input type="checkbox">
                Roman
            </label>
            <label>
                <input type="checkbox">
                Comedy
            </label>
        </section>
    </fieldset>

    <fieldset>
        <legend>Leesniveau</legend>
        <section class="checkbox-section">
            <label>
                <input type="checkbox">
                A
            </label>
            <label>
                <input type="checkbox">
                B
            </label>
            <label>
                <input type="checkbox">
                C
            </label>
            <label>
                <input type="checkbox">
                D
            </label>
        </section>
    </fieldset>

    <fieldset>
        <legend>Leeftijd</legend>
        <section class="checkbox-section">
            <label>
                <input type="checkbox">
                12 +
            </label>
            <label>
                <input type="checkbox">
                16 +
            </label>
            <label>
                <input type="checkbox">
                18 +
            </label>
        </section>
    </fieldset>


</form>