<header class="main-header">
    <div>
        <section class="chat-header">
            <div class="profile-group">
                <img class="chatbot-icon" src="./img/robot-profile-picture.svg">
                <h3>B1EB-BOT</h3>
            </div>
            <button class="new-chat-button" id="new-chat-button">
                <img class="new-chat-button-icon" src="./img/new-chat-icon.svg">
                Nieuwe Chat
            </button>
        </section>
        <form class="search-form" method="post" action="/search">
            <input id='search-bar' type="text" name="query" placeholder="Ik zoek..." required>
            <label>
                <button type="submit">
                    <img src="./img/send-icon.svg" alt="Submit Icon">
                </button>
            </label>
        </form>
        <button class="filter-button"><img src="./img/filter-icon.svg"> Filter / Sorteren</button>
    </div>
    <div>
        <form id="suggested-form" class="suggested-form" method="post" action="/search">
            <div class="chat-button-grid">
                <button type="submit" name="category" value="Ik zoek boeken">Boeken</button>
                <button type="submit" name="category" value="Ik zoek films">Films</button>
                <button type="submit" name="category" value="Ik zoek activiteiten">Activiteiten</button>
                <button type="submit" name="category" value="Ik zoek CD's">CD's</button>
            </div>
        </form>
    </div>
</header>

