<header class="main-header">
    <button id="open-chat-button" class="hidden button open-chat-button">
        <img src="./img/chat-icon.svg">
        Open Chat
    </button>
    <img class="oba-logo" src="./img/oba-logo.svg">
    <img class="hidden robot-met-handen" src="./img/robot-with-hands.svg">
</header>
