<section class="chat">
    <header class="chatHeader">
        <div class="profileGroup">
            <img class="chatbotIcon" src="./img/robotProfilePicture.svg">
            <p>Online</p>
        </div>
        <h3>B1EB-BOT</h3>
        <button class="newChatButton">
            <img class="newChatButtonIcon" src="./img/newChatIcon.svg">
            Nieuwe Chat
        </button>
    </header>
    <section class="chatbotMain">
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
        <div class="bubble left">Bro ipsum dolor sit amet gaper backside single track, manny Bike epic clipless. Schraeder drop gondy, rail fatty slash gear jammer steeps</div>
        <div class="bubble right">Ok, Thank you</div>
    </section>
    <form>
        <input type="text" placeholder="Ik zoek...">
        <label>
            <button type="submit">
                <img src="./img/sendIcon.svg" alt="Submit Icon">
              </button>
        </label>
    </form>
</section>