<section class="chat">
    <header class="chatHeader">
        <div class="profileGroup">
            <img class="chatbotIcon" src="./img/robotProfilePicture.svg">
            <p>Online</p>
        </div>
        <h2>B1EB-BOT</h2>
        <button class="newChatButton">
            <img class="newChatButtonIcon" src="./img/newChatIcon.svg">
            Nieuwe Chat
        </button>
    </header>
</section>