<section class="chat">
    <header class="chatHeader">
        <div class="profileGroup">
            <img class="chatbotIcon" src="./img/robotProfilePicture.svg">
            <p>Online</p>
        </div>
        <h3>B1EB-BOT</h3>
        <button class="newChatButton">
            <img class="newChatButtonIcon" src="./img/newChatIcon.svg">
            Nieuwe Chat
        </button>
    </header>
    <section class="chatbotMain" id="chatbotMain">
        <div class="bubble left">Welkom. Ik ben de B1EB-BOT en ik ben hier om je te begeleiden. Begin door hieronder je zoekopdracht in te typen.</div>
        <div class="bubble left">Tip: Je kunt ook hieronder een knop aanklikken!</div>
    </section>
    <form class="suggestedForm">
        <div class="chatButtonGrid">
            <button type="submit" value="Ik zoek Boeken">Boeken</button>
            <button type="submit" value="Ik zoek Films">Films</button>
            <button type="submit" value="Ik zoek Activiteiten">Activiteiten</button>
            <button type="submit" value="Ik zoek CD's">CD's</button>
        </div>
    </form>
    <form class="searchForm">
        <input type="text" placeholder="Ik zoek..." required>
        <label>
            <button type="submit">
                <img src="./img/sendIcon.svg" alt="Submit Icon">
              </button>
        </label>
    </form>
</section>