<header class="mainHeader">
    <button id="openChatButton" class="hidden button openchatButton">
        <img src="./img/chatIcon.svg">
        Open Chat
    </button>
    <img class="obaLogo" src="./img/obaLogo.svg">
    <img class="hidden robotMetHanden" src="./img/robotWithHands.svg">
</header>
