<main>
    <h4>Horror</h4>
    <a href="">Klik hier voor meer</a>
    <section class="section-article">
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/boek-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
    </section>
    <div class="overlay"></div>
</main>
