<section class="chat">
    <h3 class="visually-hidden">Chat sectie</h3>
    <label>
        <button aria-level="Nieuwe chat knop" type="button" class="new-chat-button" id="new-chat-button">
            <img src="{{ './img/new-chat.svg' | asset_url }}" alt="Nieuwe chat icoon">
            nieuwe chat
        </button>
    </label>
    <section class="chatbot-main" id="chatbot-main">
        {% include './components/chatbot-body' %}
    </section>
    <form class="search-form" method="post" action="/search">
        
            <input id='search-bar' type="text" name="query" placeholder="beschrijf hier wat je zoekt..." required>
            <label>
                <button aria-label="Verstuur bericht knop" type="submit">
                    <img src="{{ './img/loep.svg' | asset_url }}" alt="Versturen icoon">
                </button>
            </label>
        </form>
</section>
