<section class="chat">
    <header class="chat-header">
        <div class="profile-group">
            <img class="chatbot-icon" src="./img/robot-profile-picture.svg">
            <p>Online</p>
        </div>
        <h3>B1EB-BOT</h3>
        <button class="new-chat-button">
            <img class="new-chat-button-icon" src="./img/new-chat-icon.svg">
            Nieuwe Chat
        </button>
    </header>
    <section class="chatbot-main" id="chatbot-main">
        {% include './components/chatbot-body' %}
    </section>
    <form class="suggested-form" method="post" action="/search">
        <div class="chat-button-grid">
            <button type="submit" name="category" value="Boeken">Boeken</button>
            <button type="submit" name="category" value="Films">Films</button>
            <button type="submit" name="category" value="Activiteiten">Activiteiten</button>
            <button type="submit" name="category" value="CD's">CD's</button>
        </div>
    </form>
    <form class="search-form" method="post" action="/search">
        <input type="text" name="query" placeholder="Ik zoek..." required>
        <label>
            <button type="submit">
                <img src="./img/send-icon.svg" alt="Submit Icon">
            </button>
        </label>
    </form>
</section>
