<main>
    <section class="section-article" id="results-section">
       <h4 class="visually-hidden">De boeken</h4>
    </section>
    <section class="empty-state">
        <h4 class="visually-hidden">Geen boeken beschikbaar</h4>
        <p>Er zijn nog geen resultaten om weer te geven. begin met zoeken om resultaten te weergeven</p>
    </section>
</main>
