<main>
    <h4>Horror</h4>
   
    <section class="section-article">
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./img/book-cover-test.jpg" alt="Boek 1">
            <h5>Naam</h5>
        </article>
    </section>
    <div class="overlay"></div>
</main>
