<main>
    <section class="section-article" id="results-section">
       
    </section>
    <section class="empty-state">
        <p>Er zijn nog geen resultaten om weer te geven. begin met zoeken om resultaten te weergeven</p>
    </section>
</main>
