<main>
    <section class="section-article" id="results-section">
       <h3 class="visually-hidden">resultaten sectie</h3>
    </section>
    <section class="empty-state">
        <h3 class="visually-hidden">Geen boeken gevonden sectie</h3>
        <p>er zijn nog geen resultaten om weer te geven. begin met zoeken om resultaten te weergeven</p>
    </section>
</main>
