<main>
    <h4>Horror</h4>
   
    <section class="section-article">
        <article>
            <img src="./book-covers/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book1.jpg" alt="book 2">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book2.jpg" alt="book 3">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book3.jpg" alt="book 4">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book4.jpg" alt="book 5">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book5.jpg" alt="book 6">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book6.jpg" alt="book 7">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book7.webp" alt="book8">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book8.jpg" alt="book 9">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book9.webp" alt="book 10">
            <h5>Naam</h5>
        </article>
        <article>
            <img src="./book-covers/book10.png" alt="Boek 11">
            <h5>Naam</h5>
        </article>
    </section>
    <div class="overlay"></div>
</main>
