<main>
    <section class="section-article" id="results-section">
        <article>
            <img src="./book-covers/book-cover-test.jpg" alt="book 1">
            <h5>Naam</h5>
        </article>
    </section>
    <div class="overlay"></div>
</main>
