.chatHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--primary-red);
    h3, p{
        font-weight: normal;
        color: var(--white);
    }
}

.profileGroup{
    justify-self: start;
    grid-column: 1;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    position: relative;

    p::before{
        content: '';
        background-color: var(--primary-green);
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 55px;
        transform: translateY(-50%);
        border-radius: 50%;
    }

}

.chatbotIcon{
    background-color: var(--secondary-red);
    padding: 0.5rem;
    border-radius: 50%;
}

.newChatButton{
    justify-self: end;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    appearance: none;
    border: none;
    color: var(--white);
    width: max-content;
    background-color: transparent;
}