.chatbotWrapper{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    background-image: var(--linear-background);
    padding: 2rem;
}

.fullscreenButton{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.resultatenWrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;

    h2{
        grid-area: 1 / 1 / 2 / 2;
    }

    button{
        grid-area: 1 / 2 / 2 / 3;
    }
}