.chatbotWrapper{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 96px);
    background-image: var(--linear-background);
    padding: 3rem;
    .robotImg {
        height: 30rem;
        align-self: flex-end;
        transition: transform 0.2s ease-in-out;
    }
    .fullScreenButtonLabel{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 3.5rem;
        width: 3.5rem;
        bottom: 1rem;
        right: 1rem;
        border-radius: 0.5rem;
        background-color: var(--primary-red);
    }
    input[type='checkbox']{
        appearance: none;
    }
    label:has(input[type='checkbox']:checked) img{
        transform: rotate(180deg);
    }
}
.resultatenWrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;

    h2{
        grid-area: 1 / 1 / 2 / 2;
    }

    button{
        grid-area: 1 / 2 / 2 / 3;
    }
}