:root{
    --primary-red: #E61C24;
    --primary-dark-gray: #D9D9D9;
    --primary-light-gray: #F2F2F2;
    --white: #fff;
    --linear-background: linear-gradient(to left, #D4B6B6 0%, #FCEDED 100%);
}

