
@media (max-width: 576px) {  
    .section-article {
        gap: 1rem;
    }

    .section-article article img {
        height: 8rem !important;
    }

    .body-wrapper {
        margin-bottom: 8rem;
    }

    .details {
        grid-template-areas:
        "terug terug"
        "img img"
        "bekijk-detail bekijk-detail"
        "text text";
    }
}


@media (max-width: 768px) {  
    .chat, .resultaten {
        grid-column: 1 / 3;
        padding: 0px 2rem;
    }

    .chat {
        form.search-form {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--white);
        }
    }

    .body-wrapper {
        grid-template-rows: max-content calc(100vh - var(--header-height) - var(--header-margin));
        height: 100%;
        /* height: calc(100vh - var(--header-height) - var(--header-margin)); */
    }

    .main-header {
        background-image: url("../img/header-background-mobile-temporary.jpg")
    }

    .details {
        grid-column: 1 / 3;
        padding: 2rem;
        margin-bottom: 8rem;
    }
}


@media (max-width: 992px) {  
    .section-article article img {
        height: 10rem;
    }
}


@media (max-width: 1200px) {  
    .filter {
       position: absolute;
       right: 0;
       top: 6rem;
       display: none;
    }

    .filter-button {
        display: flex;
    }

    .resultaten {
        padding-right: 2rem;
    }

    .body-wrapper {
        grid-template-columns: 1fr 2fr;
        position: relative;
    }


}

@media (max-width: 1400px) {  

}