

.chatbot-main {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* background-color: var(--primary-light-gray); */
}

.chatbot-main::-webkit-scrollbar {
    width: 10px;
}

.chatbot-main::-webkit-scrollbar-track {
    background: var(--white);
}

.chatbot-main::-webkit-scrollbar-thumb {
    background: var(--primary-red);
    border-radius: 10px;
    cursor: pointer;
}

.chatbot-main::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.bubble {
    --r: 1rem;  /* the radius */
    --t: 1rem; /* the size of the tail */
    
    max-width: 300px;
    padding: 1rem;
    margin: 0.5rem;
    border-inline: var(--t) solid #0000;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 25%);
}

.bubble.left {
    --_p: 0;
    border-bottom-left-radius: 0 0;
    place-self: start;
    background-color: var(--primary-red);
    color: var(--white);
}

.bubble.right {
    --_p: 100%;
    border-bottom-right-radius: 0 0;
    place-self: end;
    background-color: var(--white);
    color: var(--black);
}

.chat {
    width: 100%;
    position: relative;
    align-self: start;
    justify-self: center;
}
