.filter {
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
    padding: 1.25rem;
    margin-right: 2rem;
    background-color: var(--white);
    border: 1px solid var(--primary-dark-gray);
    border-radius: 10px;
    max-height: 80vh;
    position: relative;
    transition: 2s ease-in-out;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: var(--white);
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--primary-red);
        border-radius: 10px;
        cursor: pointer;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
    }
    

    label {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.63rem;
        font-weight: bold;
    }

    select {
        padding: 0.63rem 1rem;
        border-radius: 5px;

        -webkit-appearance: none;
        appearance: none;
        position: relative;
        background: url(../img/chevron-black.svg) no-repeat 95% center;
        background-size: 10px 10px;
    }

    fieldset {
        border: none;

        legend {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
}

.bieb-bot {
    transform: rotate(-90deg);
    width: 70px;
}

.checkbox-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0.63rem;
    
    label {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        font-weight: normal;
    }
}

.fold-filter {
    display: flex;
    width: fit-content;
    align-items: center;
    height: 4rem;
    position: absolute;
    left: -1.9rem;
    border: none;
    background-color: red;
    border-radius: 10px 0 0 10px;
    svg {
        transform: rotate(-90deg);
        height: 1em;
        fill: white;
    }
}