.main-header {
    position: relative;
    background-image: url(../Img/header-background-temporary.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 2fr 0.7fr;
    height: var(--header-height);
    margin-bottom: var(--header-margin);
}


.chatbot-icon {
    background-color: var(--secondary-red);
    padding: 0.5rem;
    border-radius: 50%;
}






.search-form {
    position: relative;
    display: flex;
    height: 100%;
}

