.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr 0.7fr;
    margin: 50px 20px;

    & > div:first-of-type {
        grid-column: 1 / 4;
        background-color: var(--primary-red);
        
        border-radius: 50px;
        display: grid;
        grid-template-columns: 1fr 2fr 0.7fr;
        align-items: center;
    }

    & > div:last-of-type {
        grid-column: 2 / 3;
    }
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    padding: 10px 20px 10px 15px;
    background-color: transparent;
    border: none;
    width: fit-content;
    font-family: "Avenir", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
}