
main a {
    grid-column-start: 2;
    justify-self: end;
    color: var(--black);
}

main button {
    position: absolute;
    right: 0;
    top: 50%;
    grid-row-start: 2;
    border: none;
    background-color: transparent;
    transform: rotate(-90deg);
    z-index: 10;
}

.resultaten {
    padding: 2rem 0;
    width: fit-content;
    /* display: none; */
    grid-column: 2 / 3;


    h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}

.resultaten-grid {
    grid-row-start: 1;
}

.section-article {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.section-article::-webkit-scrollbar {
    display: none;
}

.section-article article img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.section-article h5 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

.overlay {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: end;
    width: 7rem;
    height: 10rem;
    background-color: var(--primary-dark-gray);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(217,217,217,1) 100%);
}

.shift-right {
    transform: translateX(7rem);
    transition: transform 0.5s ease;
}

.placeholder-loading-img {
    height: 17rem;
    width: 10rem;
    background-color: var(--primary-dark-gray);
    opacity: 0.5;
    animation: wave 2s infinite;
}

.section-article {
    .placeholder-loading-img:nth-of-type(1){
        animation-delay: 0s;   
    }
    
    .placeholder-loading-img:nth-of-type(2){
        animation-delay: 0.2s;
    }
    
    .placeholder-loading-img:nth-of-type(3){
        animation-delay: 0.4s;
    }
    
    .placeholder-loading-img:nth-of-type(4){
        animation-delay: 0.6s;
    }
    
    .placeholder-loading-img:nth-of-type(5){
        animation-delay: 0.8s;
    }
}


 
@keyframes wave {

    0%, 100% {

        background-color: lightgray;

    }

    50% {

        background-color: darkgray;

    }

}

.empty-state p {
    font-size: 1.2rem;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: auto;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    background-color: transparent;
    border: none;
    width: fit-content;
    font-family: "Avenir", Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 50px;
    display: none;
}
