:root {
  --primary-purple: #6d58b1;
  --secondary-purple: #b3a4e6;
  --primary-dark-gray: #d9d9d9;
  --primary-light-gray: #f2f2f2;
  --primary-green: #4baa32;
  --white: #fff;
  --black: #000;
  --disabled-gray: #cccccc;
  /* Bepaal hiermee de hoogte van de header en de margin. De rest van de pagina zal dan mee scalen */
  --header-height: 100px;
  --header-margin: 1em;
}
