<!DOCTYPE html>
<html lang="nl">
    <%- include('../partials/head'); %>
    <body>
        <%- include('../partials/header'); %>
        <section class="chatbotWrapper">
            <%- include('../partials/chatbot'); %>
            <img class="robotImg" src="./img/robotFullSize.svg">
            <button class="fullscreenButton button" id="fullscreenButton"></button>
        </section>
    </body>
</html>