{% include './includes/head' %}
    {% include './includes/header' %}
    <h1 class="visually-hidden">Oba zoek functie</h1>
    <section class="body-wrapper">
        <h2 class="visually-hidden">Chatbot en resultaten sectie</h2>
        {% include './components/chatbot' %}

        <section class="resultaten" id="resultaten">
            <button class="filter-button"><img src="./img/filter-icon.svg" alt="Filter Icon"> Filteren </button>
            <h2>Resultaten</h2>
            {% include './components/resultaten' %}
        </section>


        {% include './components/details' %}

        
        {% include './includes/filter' %}

    </section>

    

    {% include './includes/scripts' %}
{% include './includes/footer' %}