{% include './includes/head' %}
    {% include './includes/header' %}
    <h1 class="visually-hidden">Oba zoek functie</h1>
    <section class="body-wrapper">
        <h2 class="visually-hidden">Chatbot en resultaten sectie</h2>
        {% include './components/chatbot' %}

        <section class="resultaten" id="resultaten">
            <button class="filter-button"><img src="./img/filter-icon.svg" alt="Filter Icon"> filteren </button>
            <h2>resultaten</h2>
            {% include './components/resultaten' %}
        </section>


        {% include './components/details' %}

        
        {% include './includes/filter' %}

    </section>

    

    {% include './includes/scripts' %}
{% include './includes/footer' %}

<style>
    @media (max-width: 768px) {
        .main-header {
    background-image: url("{{'./img/header-background-mobile-temporary.jpg' | asset_url}}");
  }
    }
</style>